Repository 2023M6T2-Inteli/Grupo04, pull requests merged in 2023-06, with the labels that each got.

#35 Hotfix/back end
  src/backend/analyze/controller.py
  src/backend/analyze/model.py
  src/backend/analyze/routes.py
  src/backend/analyze/service.py
  src/backend/prisma/schema.prisma
  src/backend/robot/routes.py
  src/backend/robot/service.py
  src/backend/route/controller.py
  src/backend/route/model.py
  src/backend/route/routes.py
  src/backend/route/service.py
  src/backend/user/routes.py
  src/backend/user/services.py
Labels: bug, documentation, back-end

#36 hotfix: point finalizada
  src/backend/point/controller.py
  src/backend/point/model.py
  src/backend/point/routes.py
  src/backend/point/service.py
  src/backend/point/utils.py
  src/backend/prisma/schema.prisma
  src/backend/route/routes.py
Labels: bug, documentation, back-end

#45 Feat frontend analyze pages
  src/backend/prisma/schema.prisma
  src/frontend/components/AddAnalyze/index.tsx
  src/frontend/components/Display/index.tsx
  src/frontend/components/LiveStream/index.tsx
  src/frontend/components/SetAnalyzeInfo/index.tsx
  src/frontend/components/SetRoute/index.tsx
  src/frontend/components/ShowMap/index.tsx
  src/frontend/pages/websocket.tsx
Labels: front-end

#47 hotfix: configs of docker
  src/backend/requirements.txt
  src/backend/setup.sh
Labels: hotfix, back-end

#48 feat: documentação sprint 4
  docs/diagram/prisma/ERD.svg
Labels: documentation

#49 feat: documentação sprint 4
  docs/images/api-consult.png
  docs/images/api-result.png
  docs/images/api-routes.png
  docs/images/backend-api.png
  docs/images/banco-dados-status-aws.png
  docs/images/diagrama-banco-de-dados-v1.svg
  docs/images/diagrama-banco-de-dados-v2.svg
  docs/index.md
Labels: documentation

#53 Feat/documentation
  docs/image/index/1686772972466.png
  docs/image/index/1686773016794.png
  docs/images/Diagrama-Inicial-GERDAU.png
  docs/images/DiagramaGERDAU.jpg
  docs/index.md
Labels: documentation, hotfix

#54 feat: save images at db
  src/backend/analyze/controller.py
  src/backend/analyze/model.py
  src/backend/analyze/routes.py
  src/backend/analyze/service.py
  src/backend/prisma/schema.prisma
  src/embedded/webcam_capture/app.py
  src/embedded/webcam_capture/test_websocket_connection/app.py
Labels: back-end

#55 feat: sensor model
  src/backend/prisma/schema.prisma
Labels: back-end

#57 Hotfix/front end
  src/frontend/components/Button/index.tsx
  src/frontend/components/DisplayText/index.tsx
  src/frontend/components/DropZone/index.tsx
  src/frontend/components/FixedRoutes/index.tsx
  src/frontend/components/InformationCard/index.tsx
  src/frontend/components/LiveStream/index.tsx
  src/frontend/components/Login/index.tsx
  src/frontend/components/LoginBody/index.tsx
  src/frontend/components/NavBar/index.tsx
  src/frontend/components/RobotSelectionBody/index.tsx
  src/frontend/components/RouteCard/index.tsx
  src/frontend/components/SetAnalyzeInfo/index.tsx
  src/frontend/components/SetRoute/index.tsx
  src/frontend/components/SignForm/index.tsx
  src/frontend/components/SignOutButton/index.tsx
  src/frontend/components/WebSocketComponent/index.tsx
  src/frontend/components/WelcomeBody/index.tsx
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/pages/api/auth/[...nextauth].ts
  src/frontend/pages/login.tsx
  src/frontend/tailwind.config.js
  src/frontend/utils/axios.ts
  src/frontend/utils/socket.ts
  src/frontend/yarn.lock
Labels: hotfix, front-end

#61 hotfix: tratamento de erros e rotas
  .gitignore
  docs/image/index/1686772972466.png
  docs/image/index/1686773016794.png
  docs/image/index/1687405447936.png
  docs/image/index/1687405454030.png
  docs/image/index/1687405468338.png
  docs/image/index/1687405486540.png
  docs/image/index/1687405496512.png
  src/backend/analyze/controller.py
  src/backend/analyze/model.py
  src/backend/analyze/routes.py
  src/backend/analyze/service.py
  src/backend/point/model.py
  src/backend/point/service.py
  src/backend/prisma/schema.prisma
  src/backend/robot/model.py
  src/backend/robot/routes.py
  src/backend/robot/service.py
  src/backend/route/model.py
  src/backend/route/routes.py
  src/backend/route/service.py
Labels: hotfix, back-end

#67 hotfix: add comments
  src/backend/analyze/controller.py
  src/backend/analyze/model.py
  src/backend/analyze/routes.py
  src/backend/analyze/service.py
  src/backend/app.py
  src/backend/middleware/body_check.py
  src/backend/mysql-dump/.gitkeep
  src/backend/point/controller.py
  src/backend/point/model.py
  src/backend/point/routes.py
  src/backend/point/service.py
  src/backend/prisma/schema.prisma
  src/backend/robot/controller.py
  src/backend/robot/model.py
  src/backend/robot/routes.py
  src/backend/robot/service.py
  src/backend/route/controller.py
  src/backend/route/model.py
  src/backend/route/routes.py
  src/backend/route/service.py
  src/backend/user/controller.py
  src/backend/user/model.py
  src/backend/user/services.py
Labels: hotfix, back-end
